<html>

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<title th:text="#{label.pages.home.title}"></title>
<div th:replace="fragments/navbarcss :: navbarcss"></div>
</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/navbar :: navbar"></div>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<p class="page-header"
						sec:authorize="!hasAuthority('WRITE_PRIVILEGE')"
						th:text="#{message.unauth}">unauth</p>

					<h1 class="page-header"
						sec:authorize="hasAuthority('WRITE_PRIVILEGE')"
						th:text="#{label.pages.admin.message}">admin</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="fragments/navbarjs :: navbarjs"></div>
</body>
</html>